<header class="border-b-2 w-full py-2">
  <nav
    class="grid grid-cols-2 md:grid-cols-4 sm:grid-cols-3 auto-rows-auto gap-2"
  >
    {% for link in ["landing", "board_index",] %}
    <a href="/{{ link }}" class="hover:tracking-wider"
      ><span class="text-accent-a">></span>{{ link }}</a
    >
    {% endfor %}
  </nav>
</header>
